/*

PART 1:

You've been ordered to improve your company's newsletter form. 
You can design it however you want, but the manager wants the button to
animate both on the :hover and the :active state.

1. Redesign the page (e.g. colors, positions, sizing, spacing)
2. Improve the button's hover effect
3. Improve thee button's click effect

SKILLS:
color, background, margin, padding, border-radius, 
CSS pseudo selectors (:active, :hover), transform
*/


body {
   color: lightgoldenrodyellow;
   margin: 0;
   background: #006ac0;
   display: flex;
   align-items: center;
   justify-content: center;
}

form {
   width: 50vw;
   text-align: center;
   padding: 0px 20px;
}

h3 {
   margin-bottom: 0;
}

input {
   width: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
   height: 40px;
   text-align: center;
}

button {
   height: 40px;
   width: 100%;
   color: white;
   margin: auto;
   display: block;
   background-color: #3d492b;
   font-size: 15px;
   padding: 5px;
   -webkit-transition: background-color .5s ease;
   -moz-transition: background-color .5s ease;
   -o-transition: background-color .5s ease;
   transition: background-color .5s ease;
}

button:hover {
   background: rgb(126, 126, 126);
}

button:active {
   box-shadow: 0 5px #666;
   transform: translateY(4px);
}

input:focus, button:focus{
   outline: none;
}

